
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/employee/index">Employee Platform</a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="/employee/depart/list" style="margin-right: 5px;">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Departments Management
                </a>
              </li>
              <li>
                <a href="/employee/emp/list" style="margin-right: 5px;">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Employees Management
                </a>
             </li>
             <li>
              <a href="/employee/app/list" style="margin-right: 5px;">
                  <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                  Applications Management
              </a>
           </li>
           <li>
            <a href="/employee/role/list" style="margin-right: 5px;">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                Roles Management
            </a>
         </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block content%}
    {% endblock %}
</body>
</html>