<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
</head>
<body>
    
    <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
</body>
    <div class="row">
        <div class="col-md-9 order-2">
            <h5>content list</h5>
            <ul>
                <li>article1</li>
                <li>article2</li>
                <li>article3</li>
            </ul>
        </div>
        <div class="col-md-3 order-1">
            <h5>导航</h5>
            <ul>
                <li>首页</li>
                <li>视频直播</li>
                <li>视频回放</li>
            </ul>
        </div>
        <p class="fw-bold">here's the pattern(normal)</p>
        <p class="lead">here's the pattern(lead)</p>
        <small class="text-warning">here's the pattern(text-muted)</small>
        <p class="small">here's the pattern(small)</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="col-md-3 text-truncate fw-bold fst-italic text-success" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente pariatur delectus tenetur inventore nulla porro cumque, corrupti blanditiis necessitatibus maiores provident commodi natus aperiam ab rerum in non recusandae? Fugiat.</p>
        </div>
        <div class="col-md-6">
            <h3>table</h3>
            <ul class="list-inline">
                <li class="list-inline-item">HTML</li>
                <li class="list-inline-item">CSS</li>
                <li class="list-inline-item">Bootstrap</li>
            </ul>
        </div>
    </div>
</html>